<h2>Title</h2>
<img alt="imagem do post">
<div class="bar"></div>
<div class="content">
    <div class="user">
        <img alt="imagem do usuário">
        <div class="info">
            <h3>Nome do usuário</h3>
            <p>Descrição do usuário</p>
        </div>
    </div>
    <div class="post">
        <p>Conteúdo do post</p>
    </div>
    <div class="post">
        <p>Conteúdo do post</p>
    </div>
    <div class="post">
        <p>Conteúdo do post</p>
    </div>
</div>
<div class="bar-second"></div>

<div class="user">
    <img alt="imagem do usuário">
    <div class="info">
        <h3>Nome do usuário</h3>
        <p>Descrição do usuário</p>
    </div>
</div>

    
