header{
    li{ 
        display: flex;
        justify-content: center;
        align-items: flex-start;    
        width: 100px;
        height: 60px;
        cursor: pointer;
    }

    li:hover{
        border-bottom: 1px solid #333;
    }

    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    cursor: default;
}