<div class="container">
    <div class="main-article flex f-col align-center gap-3">
        <img alt="principal article" src="">
        <h2>Loren Ipsum Dolor Sit Amet </h2>
        <p>Loren Ipsum Dolor Sit Amet Loren Ipsum Dolor Sit Amet Loren Ipsum Dolor Sit Amet</p>
    </div>
    <div class="bar mt-3 mb-3"></div>
    <div class="list-articles">
        <h4>All articles</h4>
        <div class="articles">
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
    
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
    
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
            <div class="article">
                <img alt="article" src="">
                <h5>Titulo do Artigo</h5>
            </div>
        </div>
    </div>
</div>


