<div class="container">
    <div class="main-article flex f-col align-center gap-3">
        <ngx-skeleton-loader *ngIf="!ImagePrincipalArticle" count="5"
        [theme]="{ 
            'border-radius': '5px',
            height: '30px',
            width: '100%',
            border: '1px solid white'
          }"></ngx-skeleton-loader>
        <div (click)="openPost($event)" [id]="principalArticleId" [ngClass]="{'display-none': ImagePrincipalArticle === false}" class="flex f-col align-center gap-3">
            <img alt="principal article" src="https://api.lorem.space/image/game?w=1100&amp;amp;amp;amp;h=533">
            <h2>{{principalArticleTitle}} </h2>
            <p>{{principalArticleBody}}</p>
        </div>
    </div>
    <div class="bar mt-3 mb-3"></div>
    <div class="list-articles flex f-col align-center mb-3">
        <h4 class="mb-3">All articles</h4>
        <div class="articles flex f-wrap justify-center gap-row-3 gap-col-15">
            <app-article-item (click)="openPost($event)" *ngFor="let post of listaPosts[page]" [articleTitle]="post.title" [id]="post.id"></app-article-item>
        </div>
    </div>

    <app-pagination></app-pagination>
</div>


